<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=GBK">
      <meta name="author" content="qtoolsApp">
      <meta http-equiv="cleartype" content="on">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="format-detection" content="telephone=no">
      <meta http-equiv="Expires" content="-1">
      <meta http-equiv="Cache-Control" content="no-cache">
      <meta name="keywords" content="Qtools母婴节">
      <meta name="description" content="Qtools母婴节">
      <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5">
      <title>邀闺蜜，兑好礼</title>
  </head>
  <body>
    <div id='root' v-cloak>
      <div class="loading-status" v-if="isLoading"></div>
      <div>{{err}}</div>
      <div class="part-one-banner" id="shareAction">
        <div class="wrap">
          <div class="box-flex share-step">
            <div class="item">
              <span class="step">1</span>
              <span class="text">发起邀请</span>
              <span class="icon-arrow"></span>
            </div>
            <div class="item">
              <span class="step">2</span>
              <span class="text">好友7天内下单成功</span>
              <span class="icon-arrow"></span>
            </div>
            <div class="item">
              <span class="step">3</span>
              <span class="text">0元领好物</span>
            </div>

          </div>
          <button type="button" name="button" class="share-btn" v-on:click="goShareApplte">
            <img src="./imgs/icon_wx.png" alt="" class="icon-wx">
            立即邀请好友
          </button>
          <div class="img-share" v-on:click="goShareWx">
            <img src="./imgs/icon_share.png" alt="" class="icon-share">
            生成海报分享
          </div>
        </div>
      </div>
      <div class="main-components">
        <div class="head-action"> 活动时间：2020.5.20-2020.5.31</div>
        <div class="part-two-coupon part-same">
          <div class="title-action"> 好友注册领超值券 </div>
          <div class="box-flex coupon-list">
            <div class="item" v-for="item in couponList">
              <div class="top-text">
                <p>¥ <span class="money">{{item.couponAmount}}</span></p>
                <p>{{item.couponDiscountStr}}</p>
              </div>
              <div class="bottom-action">
                <button
                  type="button"
                  name="button"
                  class="btn"
                  v-on:click="goExchange(item,'1')"
                  v-bind:disabled="item.gainStatus!=2"
                  v-bind:class="{ disabled: item.gainStatus!=2 }">
                  {{item.gainStatusStr}}
                </button>
                <p>{{item.couponValidStr}}</p>
              </div>
            </div>
          </div>
          <div class="share-process">
            <div class="wrap">
              <span class="process-line" v-bind:class="`step${couponLeve}`"></span>
              <div
                class="circle-wrap"
                v-for="(item,index) in couponRule"
                v-bind:class="[`process${index}`,{ activity: couponLeve == index}]">
                <span class="out-circle">
                  <span class="inner-circle">领</span>
                </span>
                <span class="pro-text">邀请{{item}}人注册</span>
              </div>
            </div>
          </div>
        </div>
        <div class="part-thr-goods part-same">
          <div class="title-wrap">
            <div class="title-action"> 好友下单领0元好礼 </div>
            <div class="record-btn" v-on:click="goGiftPage"> 领取记录 ></div>
          </div>
          <div class="box-flex goods-list">
            <div class="item" v-for="(item,index) in productList">
              <div class="top-goods">
                <img :src="fileDomain+item.pic" alt="">
                <span class="qty" v-if="item.remainQty < item.warningQty">剩{{item.remainQty}}件</span>
              </div>
              <button
                type="button"
                name="button"
                v-on:click="goExchange(item,'2')"
                class="bottom-action"
                v-bind:disabled="item.gainStatus!=2"
                v-bind:class="{ disabled: item.gainStatus!=2 }">
                {{item.gainStatusStr}}
              </button>
            </div>
          </div>
          <div class="share-process">
            <div class="wrap">
              <span class="process-line" v-bind:class="`step${productLeve}`"></span>
              <div
                class="circle-wrap"
                v-for="(item,index) in productRule"
                v-bind:class="[`process${index}`,{ activity: productLeve == index}]">
                <span class="out-circle">
                  <span class="inner-circle">领</span>
                </span>
                <span class="pro-text">邀请{{item}}人注册</span>
              </div>
            </div>
          </div>
        </div>
        <div class="part-four part-same">
          <div class="title-action"> 本期邀请 </div>
          <div class="invit-list" v-if="inviteInfoList.length>0">
              <div class="item box-flex" v-for="item in lasteList">
                <div class=""> {{item.mobile}}绑定手机号</div>
                <div class=""> {{item.recordTime}} </div>
              </div>
              <div class="item box-flex" v-for="item in botHalfList" v-if="isUp">
                <div class=""> {{item.mobile}}绑定手机号</div>
                <div class=""> {{item.recordTime}} </div>
              </div>
            <div class="more" v-on:click="toggleList">
              <span class="text">查看更多</span>
              <img src="./imgs/icon_open.png" alt="" class="icon-more">
            </div>
          </div>
        </div>
      </div>
      <div class="rule-btn-re" v-on:click="goRuleModal(true)">活动规则</div>
      <div class="cover-mask"  v-show="visibleCover"></div>
      <div class="rule-modal modal-common" v-show="visibleRule">
        <p class="modal-title">活动说明</p>
        <div class="modal-content scroll-content">
          <p class="rule-item">一、活动主题：邀闺蜜，兑好礼</p>
          <p class="rule-item">二、活动时间：2020年3月6日0：00-2020年3月17日24：00</p>
          <p class="rule-item">三、参与方式：Qtools App、Qtools+小程序首页banner+活动浮标入口</p>
          <p class="rule-item">四、关于您的联系方式：为了方便您进一步了解并参与本次活动，需要您预留联系方式。若您不同意预留，请立即停止参与本活动；若您同意预留，则视为您同意我们向您发送本次活动的相关信息，并已完全了解并同意本次活动之活动规则。
          <p class="rule-item">五、活动介绍：</p>
          <p class="rule-item">1. 活动时间：2020年3月6日0：00-2020年3月17日24：00</p>
          <p class="rule-item">2. 活动对象：Qtools未注册新用户与已注册老用户均可参加</p>
          <p class="rule-item">3. 用户可通过微信群邀请/图片分享邀请等任一方式邀请好友参与活动；</p>
          <p class="rule-item">4. 新用户扫描小程序码进入小程序并成功绑定手机号则视为邀请成功；</p>
          <p class="rule-item">5. 每成功邀请一位新用户可累计100阳光值；</p>
          <p class="rule-item">6. 根据成功邀请的好友人数，获取相应阳光值；</p>
          <p class="rule-item">7. 阳光值可兑换超赞母婴好物；</p>
          <p class="rule-item">8. 阳光值暂仅在本次活动中有效，活动结束可能被清零，请尽快使用；</p>
          <p class="rule-item">9. 为感谢大家的积极参与，上期参与活动的用户剩余的阳光值，将累计进入本次活动中。</p>
          <p class="rule-item">六、奖品明细：具体奖品以实际领取为准，详细奖品见活动兑换页，数量有限，领完为止。</p>
          <p class="rule-item">七、兑换规则：</p>
          <p class="rule-item">1. 阳光值兑换时间：2020年3月6日0：00-2020年3月17日24：00，请已获取阳光值的用户务必在该活动周期内填写信息兑换礼品，否则逾期阳光值将失效；</p>
          <p class="rule-item">2. 每种奖品只可兑换一次，请根据实际阳光值进行合理选择；</p>
          <p class="rule-item">3. 实物礼品将在7个工作日内寄出；</p>
          <p class="rule-item">4. 实物礼品如非质量问题不接受退换货，非质量问题产生的运费由兑奖者自行承担；</p>
          <p class="rule-item">5. 阳光值一旦消耗不可再退还，兑换时请慎重考虑；</p>
          <p class="rule-item">6. 奖品数量有限，先到先得；</p>
          <p class="rule-item">7. 若发现人为刷单/作弊情况，Qtools将终止/取消兑奖资格 </p>
          <p class="rule-item">八、活动期间如您违反如下任意一条约定，则Qtools有权立即终止本协议，并采取包括但不限于暂停或查封您账号，取消兑换资格等必要措施维护自身合法权益，同时有权采取诉讼手段，追究您的法律责任：</p>
          <p class="rule-item">1. 您在参与活动过程中涉嫌违反国家法律、行政法规、部门规章、地方性法规等规范性文件；</p>
          <p class="rule-item">2. 您以任何方式、以任何语言文字对本活动的资料作全部或局部复制、转载、引用和链接，用以在其他任何与Qtools构成竞争关系的第三方竞品网站、APP、自媒体等渠道发布相关活动信息；</p>
          <p class="rule-item">3. 您以任何方式恶意获取、盗用或未经Qtools书面许可向第三方转让活动奖品；</p>
          <p class="rule-item">4. 您其他任何可能危及Qtools合法权益的行为。</p>
          <p class="rule-item">九、如出现不可抗力或情势变更的情况（包括但不限于重大灾害、政府行为，司法行政机关的命令、Qtools app或小程序遭受恶意攻击、严重系统故障等情况），导致本活动无法进行的，Qtools有权终止本次活动，并无须向您承担任何责任。本协议履行过程中发生的一切争议、权利主张、争议解决等，均适用中华人民共和国法律。</p>
          <p class="rule-item">十、如您与Qtools就本协议内容或其执行发生任何争议，双方应首先本着诚信原则通过协商加以解决，如协商不成，任何一方可将争议提交至苏州蔻兔科技有限公司所在地法院提请诉讼解决。</p>
        </div>
        <div class="modal-footer" v-on:click="goRuleModal(false)">明白了</div>
      </div>
      <div class="confirm-modal modal-common" v-show="visibleOne">
        <p class="modal-title">兑换确认</p>
        <p class="modal-content">您要领取此优惠券么</p>
        <div class="modal-footer">
          <p class="item" v-on:click="onCancel('visibleOne')">暂不领取</p>
          <p class="item" v-on:click="confirmExchange">我要领取</p>
        </div>
      </div>
      <div class="modal-error modal-common" v-show="visibleTwo">
        <div class="modal-content">
          优惠券剩余数量不足
          哎呀，来晚了一步，优惠券已领完,看看其他可领取的好物吧
        </div>
        <div class="modal-footer" v-on:click="onCancel('visibleTwo')">
          去看看
        </div>
      </div>
      <div class="modal-success modal-common" v-show="visibleThr">
        <div class="modal-title">
          领取成功
        </div>
        <div class="modal-content">
          <div class="exchange-info">
            你已成功兑换“满{{currentItem.couponFullAmount}}减{{currentItem.couponMoney}}”优惠券赶快去使用吧
          </div>
        </div>
        <button type="button" name="button" class="use-btn" v-on:click="goUseCoupon">去使用</button>
      </div>
    </div>
  </body>
</html>
