body {
  background: #FFEFE5;
}
.highlight {
  color: #FF751F;
}
$mainColor:#FF751F;
.banner {
  position: relative;
  margin-bottom:284px;
}
.part-redbox {
  width: 100%;
  height: 424px;
  background: url('./imgs/redbox.png') center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  .redbox-content {
    width: 670px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    padding-top: 28px;
  }
  .redbox-title {
    margin-bottom: 130px;
    font-size: 20px;
    color: #321D19;
  }
  .share-btn {
    width: 480px;
    height: 100px;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.06);
    border-radius: 50px;
    color: $mainColor;
    font-size: 48px;
    margin-bottom: 40px;
  }
  .share-btn-list {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    .fl {
      flex: 1;
      font-size: 20px;
      color: #fff;
      text-align: right;
      border-right: 1px solid #fff;
      padding-right: 20px;
      .bot-line {
        border-bottom: 1px solid #fff;
      }
    }
    .fl-r {
      text-align: left;
      padding-left: 20px;
    }
    .fl-l {
      text-align: right;
      border-right: 1px solid #fff;
      padding-right: 20px;
    }
  }
}
.share-face {
  font-size: 20px;
  color: #fff;
  .bot-line {
    border-bottom: 1px solid #fff;
  }
}
/*我的徽章-------------------------------*/
.part-same {
  padding: 0 40px 0;
  text-align: center;
  margin-bottom: 88px;
  .part-head {
    font-size: 40px;
    color: #321D19;
    margin-bottom: 54px;
    .item {
      line-height: 64px;
      margin: 0 6px 0 6px;
    }
    &:before {
      content: '';
      width: 53px;
      height: 53px;
      background: url('./imgs/icon_sun0.png') center no-repeat;
      background-size: contain;
    }
    &:before,
    .item {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .part-content {
    height: 200px;
    background: #FF843E;
    box-shadow: 9px 2px 20px 0 rgba(0,0,0,0.09);
    border-radius: 24px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items:center;
    .ac-left {
      width: 396px;
      height: 100%;
      background: #F3660E;
      box-shadow: -9px 2px 20px 0 rgba(0,0,0,0.09);
      border-radius: 24px;
      box-sizing: border-box;
      position: relative;
      .top-cover {
        width:356px;
        height: 136px;
        background: #fff;
        border-radius: 10px 0 0 10px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 30px 0 0 40px;
        box-sizing: border-box;
        color: $mainColor;
        font-size: 30px;
        text-align: left;
        .ite {
          display: inline-block;
          vertical-align: middle;
        }
        .badge-ite {
          width: 79px;
          height: 72px;
        }
        .big-num {
          font-size: 60px;
          color: $mainColor;
          line-height: 70px;
        }
        .unit-sty {
          display: inline-block;
          vertical-align: bottom;
        }
      }
    }
    .ac-right {
      font-size: 26px;
      color: #FFFFFF;
      padding-left: 40px;
    }
  }
}
/*--------------------我的分享-*/
.part-share {
  font-size: 30px;
  color: $mainColor;
  .no-share {
    // height: 188px;
    padding: 40px 38px;
    border-radius: 24px;
    background: #fff;
    box-sizing: border-box;
  }
  .btn-wrap {
    text-align: center;
    display: block;
    font-size: 20px;
    color: $mainColor;
    padding-top:10px;
    .maodian {
      display: inline-block;
      border-bottom: 1px solid $mainColor;
    }
    .go-share{
      color: $mainColor;
      font-size: 24px;
    }
  }
  .share-data-list {
    padding: 0 52px;
    background: #FFFFFF;
    border-radius: 24px;
    .share-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #979797;
      }
      .flex-l {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: red;
        flex-shrink: 0;
        overflow: hidden;
      }
      .flex-r {
        font-size: 24px;
        color: #4A4A4A;
        text-align: right;
        line-height: 100%;
      }
      .row-two {
        font-weight: bold;
        padding-top: 20px;
      }
    }
  }
}
.part-share {
  .handle-item {
    text-align: right;
    font-size: 24px;
    padding: 18px 0;
  }
  .icon-handle {
    display: inline-block;
    color: #9b9b9b;
    .handle-text,.icon-arrow {
      display: inline-block;
      vertical-align: middle;
    }
    .icon-arrow {
      width: 24px;
      height: 24px;
      &.up-arrow {
        background: url('./imgs/icon_bot.png') no-repeat center;
        background-size: cover;
      }
      &.bot-arrow {
        background: url('./imgs/icon_top.png') no-repeat center;
        background-size: cover;
      }
    }
  }
}
/*////////////////////////////////////////*/
footer {
  padding: 40px 0 60px;
  .logo-wrap {
    height: 50px;
    text-align: center;
    img {
      height: 100%;
      width: auto;
    }
  }
}
.rule-btn-re {
  width: 154px;
  height: 54px;
  color: $mainColor;
  line-height: 54px;
  text-align: center;
  border-radius:27px 0 0 27px;
  background: #fff;
  position: fixed;
  top: 56px;
  right: 0;
}
.modal-common {
  background: rgba(252,252,252,0.80);
  background: #FFFFFF;
  border-radius: 24px;
  width: 540px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  .modal-title {
    text-align: center;
    font-size: 34px;
    color: #4A4A4A;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #9B9B9B;
    font-weight: bold;
  }
  .modal-content {
    padding: 32px;
  }
  .modal-footer {
    text-align: center;
    font-size: 34px;
    color: #4A4A4A;
    height: 100px;
    line-height: 100px;
    border-top: 1px solid #9B9B9B;
  }
}
.rule-modal {
  .modal-content {
    font-size: 24px;
    color: #666666;
    line-height: 40px;
    text-align: left;
  }
  .rule-item {
    font-size: 24px;
  }
  .scroll-content {
    height: 600px;
    overflow-y: auto;
  }
}
.modal-share {
  text-align: center;
  padding:52px 40px 100px;
  box-sizing: border-box;
}
.top-title {
  width: 110px;
  height: 110px;
  margin:0 auto 32px;
}
.middle-content {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  margin:0 auto 30px;
  border-radius: 6px;
  overflow: hidden;
}
.bottom-tips {
  font-size: 24px;
  color: #272727;
}
