<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=GBK">
      <meta name="author" content="qtoolsApp">
      <meta http-equiv="cleartype" content="on">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="format-detection" content="telephone=no">
      <meta http-equiv="Expires" content="-1">
      <meta http-equiv="Cache-Control" content="no-cache">
      <meta name="keywords" content="Qtools母婴节">
      <meta name="description" content="Qtools母婴节">
      <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5">
      <title>新人礼专区</title>
  </head>
  <body>
    <div id='root' v-cloak class="newuser-gift-pages">
      <div class="loading-status" v-if="isLoading"></div>
      <div class="part-one-banner" id="shareAction">
        <img src="./imgs/banner.png" alt="">
        <div class="coupon-components">
          <div class="wrap">
            <div class="top-content">
              <div class="title-action">
                <img src="./imgs/icon_logo.png" alt="" class="logo">
                <span class="text">引领育儿新潮范儿</span>
              </div>
              <div class="box-flex">
                <div class="item">新潮育儿</div>
                <div class="item">专业测评</div>
                <div class="item">正品保障</div>
                <div class="item">无忧售后</div>
              </div>
            </div>
            <div class="bottom-content clear">
              <div class="coupon-item" v-for="item in couponList">
                <div class="cou-l">
                  ¥ <span class="amount">{{item.couponMoney}}</span>
                  <p>满{{item.couponFullAmount}}元可用</p>
                </div>
                <div class="cou-r">
                  {{item.couponValid}}
                  <p class="goods-type">{{item.spuScope}}</p>
                  <button type="button" name="button" class="use-btn" v-on:click="goUseCoupon(item)" v-if="item.receiveStatus==1">
                    去使用
                  </button>
                </div>
              </div>
              <button
                type="button"
                name="button"
                class="gain-btn"
                v-bind:class="{disabled: !isShowBtn}"
                v-bind:disabled="!isShowBtn"
                v-on:click="getCoupon">
                  {{isShowBtn?'一键领取':'已领取'}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="hotSale-components">
        <p class="title-action">新人热卖榜单</p>
        <div class="goods-list clear">
          <div class="item" v-for="(item,index) in productList"  v-on:click="goDetail(item)" >
            <div class="goods-img">
              <img :src="fileDomain+item.mainPicUrl" alt="">
              <img :src="item.iconPath" class="icon-gift" v-if="index<=2"/>
            </div>
            <div class="goods-info">
              <p class="gods-name lineClamp">
                <span class="label">
                  <img :src="fileDomain+item.nationalflagPic" alt="">
                </span>
                {{item.name}}
              </p>
              <div class="tag-list box-flex">
                <span class="item-tag"  v-for="el in item.iconList">{{el.iconName}}</span>
              </div>
              <p class="price">¥{{item.showPrice}}<span class="through">{{item.hiddenPrice}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
