<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="Content-Type" content="text/html; charset=GBK">
      <meta name="author" content="www.lingtouniao.com">
      <meta http-equiv="cleartype" content="on">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta name="format-detection" content="telephone=no">
      <meta http-equiv="Expires" content="-1">
      <meta http-equiv="Cache-Control" content="no-cache">
      <meta name="keywords" content="<%=page.keywords || 'p2p理财'%>">
      <meta name="description" content="<%=page.description || '领投鸟互联网理财平台'%>">
      <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=0.5,maximum-scale=0.5,minimum-scale=0.5">
      <title><%=page.title ||'领投鸟'%></title>
  </head>
  <body>
